<div id="smallcontainer">
	<div class="container">

		<h1 class="display-4" style="padding-bottom: 10px; color:rgba(0, 0, 0, 0.9)">
			New Releases 
		</h1>
		<div id="carousel" class="carousel slide shadow mb-5 rounded" data-ride="carousel">
			<ol class="carousel-indicators">
			  	<li data-target="#carousel" data-slide-to="0" class="active"></li>
			 	<li data-target="#carousel" data-slide-to="1"></li>
			  	<li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
				<li data-target="#carousel" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">
				<% for( let i = 0; i < newReleases.length; i++ ) { %>
					<div class="carousel-item<% if (i == 0) { %> active <% } %>">
						<img src="<%= newReleases[i].images[0].url %>" class="d-block w-100 carousel-img">
						<div class="carousel-caption d-none d-md-block">
							  <h5><%= newReleases[i].name %></h5>
							  <p><%= newReleases[i].artists[0].name %> </p>
						</div>
					</div>
				<% } %>
			</div>
		</div>

		<div class="container-fluid justify-content-center" style="margin-top: 100px;">

			<h1 class="display-3" style="line-height: 2.0; padding-bottom: 10px; color:rgba(0, 0, 0, 0.9)">
				Your Favourite Artists 
			</h1>

			<div class="row">
				<% for( let i = 0; i < 3; i++ ) { %>
					<% if (artist != null) { %>
						<div class="col-sm-4 d-flex justify-content-center">
							<div class="artist-card" artist-id="<%=artist.artisti[i].id%>">
								<img src=<%= artist.artisti[i].image.url %> class="card1 shadow mb-5 rounded">
								<p class="card-title"><%= artist.artisti[i].name %></p>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>

			<div class="row">
				<% for( let i = 3; i < 6; i++ ) { %>
					<% if ( artist != null) { %>
						<div class="col-sm-4 d-flex justify-content-center">
							<div class="artist-card" artist-id="<%=artist.artisti[i].id%>">
								<img src=<%= artist.artisti[i].image.url %> class="card1 shadow mb-5 rounded">
								<p class="card-title"><%= artist.artisti[i].name %></p>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>

		</div>	

		<div class="container-fluid justify-content-center">

			<h1 class="display-3" style="line-height: 2.0; padding-bottom: 10px; color:rgba(0, 0, 0, 0.9)">
				Your Favourite Songs 
		    </h1>
   
			<div class="row">
				<% for( let i = 0; i < 3; i++ ) { %>
					<% if ( tracks != null) { %>
						<div class="col-sm-4 d-flex justify-content-center">
							<div class="song-card" artist-name = "<%= tracks.tracks[i].nameartist %>" song-name = "<%= tracks.tracks[i].name%>" >
								<img src=<%= tracks.tracks[i].image %> class="card1 shadow mb-5 rounded">
								<p class="card-title"><%= tracks.tracks[i].name %></p>
								<p class="card-subtitle"><%= tracks.tracks[i].nameartist %></p>
							</div>
						</div>
					<% } %>	
				<% } %>
			</div>
			
			<div class="row">
				<% for( let i = 3; i < 6; i++ ) { %>
					<% if (tracks != null) { %>
						<div class="col-sm-4 d-flex justify-content-center">
							<div class="song-card" artist-name = "<%= tracks.tracks[i].nameartist %>" song-name = "<%= tracks.tracks[i].name%>">
								<img src=<%= tracks.tracks[i].image %> class="card1 shadow mb-5 rounded">
								<p class="card-title"><%= tracks.tracks[i].name %></p>
								<p class="card-subtitle"><%= tracks.tracks[i].nameartist %></p>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>

		</div>

		
	</div>
	<script>
		var url = new URL(window.location.href);
		var token = url.searchParams.get("access_token");
		
		$(document).ready(function(){
			$(".artist-card").mouseenter(function(){
				$(this).children(".card1").css({
						filter: "brightness(50%)",
				});
				$(this).children(".card-title").show();
			});
			$(".artist-card").mouseleave(function(){
				$(this).children(".card1").css({
						filter: "brightness(100%)",
				});
				$(this).children(".card-title").hide();
			});
			$(".artist-card").click(function() {
				window.location.href = "http://localhost:3000/artists" + "?access_token=" + token + "&" + "id=" + $(this).attr("artist-id") + "s";
			});
	
		});
	
		$(document).ready(function(){
			$(".song-card").mouseenter(function(){
				$(this).children(".card1").css({
						filter: "brightness(50%)",
				});
				$(this).children(".card-title").show();
				$(this).children(".card-subtitle").show();
			});
			$(".song-card").mouseleave(function(){
				$(this).children(".card1").css({
						filter: "brightness(100%)",
				});
				$(this).children(".card-title").hide();
				$(this).children(".card-subtitle").hide();
			});
			$(".song-card").click(function(){
				var artist=$(this).attr("artist-name");
				var song=$(this).attr("song-name");
				geniusRef(artist,song)
				
			});
		});

		$(document).ready(function() {
			$(".carousel").mouseenter(function() {
				$(this).children(".carousel-inner").children().each(function() {
					$(this).children("img").css({
						filter: "brightness(50%)",
					})
				})
			})
			$(".carousel").mouseleave(function() {
				$(this).children(".carousel-inner").children().each(function() {
					$(this).children("img").css({
						filter: "brightness(100%)",
					})
				})
			})
			$(".carousel-item").click(function() {
				var artist=$(this).children("div").children("p").text();
				var song=$(this).children("div").children("h5").text();
				geniusRef(artist, song);
			})
		})
	</script>

	<script src ="../script/geniusref.js"></script>
</div>

