<div id="smallcontainer">
	
	<div class="container" style="background-color: #0a2638">
		<h1 class="display-4" style="color: rgba(255, 255, 255, 0.9)"> Your favourite artists </h1>
		<hr>
		<div class="row">
		<% for( let i = 0; i < 3; i++ ) { %>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;" >
						<img src=<%= artist.artisti[i].image.url %> class="card1">
						<div class="card-body">
							<h5 class="card-title"><%= artist.artisti[i].name %></h5>
						</div>
					</div>
				</div>
		<% } %>
		</div>
		<hr>
		<div class="row">
			<% for( let i = 3; i < 6; i++ ) { %>
					<div class="col-sm-4">
						<div class="card" style="width: 18rem;" >
							<img src=<%= artist.artisti[i].image.url %> class="card1">
							<div class="card-body">
								<h5 class="card-title"><%= artist.artisti[i].name %></h5>
							</div>
						</div>
					</div>
			<% } %>
		</div>
		<hr>
		<hr>
		<hr>
		<h1 class="display-4" style="color: rgba(255, 255, 255, 0.9)"> Your favourite songs </h1>
		<hr>
    	<div class="row">
			<% for( let i = 0; i < 3; i++ ) { %>
					<div class="col-sm-4">
						<div class="card" style="width: 18rem;" >
							<img src=<%= tracks.tracks[i].image %> class="card1">
							<div class="card-body">
								<h5 class="card-title"><%= tracks.tracks[i].name %></h5>
							</div>
						</div>
					</div>
			<% } %>
		</div>
		<hr>
		<div class="row">
			<% for( let i = 3; i < 6; i++ ) { %>
					<div class="col-sm-4">
						<div class="card" style="width: 18rem;">
							<img src=<%= tracks.tracks[i].image %> class="card1">
							<div class="card-body">
								<h5 class="card-title"><%= tracks.tracks[i].name %></h5>
							</div>
						</div>
					</div>
			<% } %>
		</div>
    </div>
</div>


