<!-- ARTIST PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="style/song_artist_style.css">
</head>
<body class="background-canvas">

    <%- include('partials/navbar'); -%>

    <img src=<%= info.artist.header_image_url %> class="header-image">

    <div class="container-fluid" style="position: relative;">
        <div class="row justify-content-start" style="padding-top: 100px;">

            <div class= "container song-title col-8">
                <h1 class="display-2" style="color: rgba(255, 255, 255, 0.950)"> <%= info.artist.name %> </h1>
            </div>
            
            <div class="col-2">
                <img src=<%= info.artist.image_url %> class="song-image"> 
            </div>

            <div class="col-1"></div>
    
        </div>

    </div>

    <div class="container mid-panel">

        <% if(follow) { %>
            <script>
                var artistid = "<%= id %>" ;
            </script>
            <div id = "spotify-button">
                <% if(follow[0]) { %>
                    <button type="button" class="btn btn-secondary btn-lg rounded-pill" onclick="unfollow(artistid,token)">Unfollow</button>
                <% } else { %>
                    <button type="button" class="btn btn-success btn-lg rounded-pill"  onclick="follow(artistid,token)">Follow</button>
                <% } %>
            </div>
        <% } %>

        <div class="row">
            <div class = "container-fluid col-md-7">

                <h1 class="display-4" style="text-align: center; 
                                             color: rgba(231, 231, 231, 0.699);
                                             padding-bottom: 30px;"> 
                    Best Songs 
                </h1>
                
                <p> <% info.songs.forEach(song => { %>
                    <div class="container"> 
                        <div class="row song-div" id=<%= song.id %> >
                            <img src= <%= song.song_art_image_thumbnail_url%> class="song-thumbnail col-2">
                
                            <p class="song-title col-10"> 
                                <%= song.title_with_featured %>   
                            </p>
                        </div>
                        <hr style="color:rgba(121, 121, 121, 0.651)">
                    </div>
                <% }) %> </p>
                
            </div>
            
            <div class="container-fluid col-md-5">

                <p class = "description"> <% info.artist.description.forEach(paragraph => { %>
                    <%= "" + paragraph %> <br>
                <% }) %> </p>

            </div>
        </div>
    </div>

    <% if (related_artists) { %>

        <p class= "related-artists-title"> Related Artists</p>

        <div class = "container-fluid" style="height: 0px; padding-right: 0px; padding-left: 0px;">
            <div class="row justify-content-start container-fluid" style="position: relative; z-index: 900; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; height:0px">
                <div class="container-fluid col-1 scroll-area left"> <p class="arrow"> &#8810 </p></div> 
                <div class="container-fluid col-1 offset-10 scroll-area right"> <p class="arrow"> &#8811 </p></div> 
            </div>
        </div>
        <div class = "container bottom-container">
            <div class="row container-fluid">
                <div class="row flex-row flex-nowrap related-artists-row" style="position: relative; left:33px" number="<%= related_artists.length %> ">
                    <% related_artists.forEach(artist => { %>
                        <div class="related-artist" id= <%= artist.id %> >
                            <img src= <%= artist.images[0].url %> class="related-artist-img">
                            <p class="related-artist-text"> <%= artist.name %> </p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div style="height: 200px"></div>
     
    <% } %> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script src="script/unfollow.js"></script>
    <script src="script/follow.js"></script>

    <script>

    var url = new URL(window.location.href);
    var token = url.searchParams.get("access_token");

        $(document).ready(function() {
            $(".song-div").mouseenter(function(){
                $(this).css("background-color", "rgba(143, 143, 143, 0.199)");
            });
            $(".song-div").mouseleave(function(){
                $(this).css("background-color", "rgba(143, 143, 143, 0)");
            });

            $(".song-div").click(function() {
                if(token)
                    window.location.href = "http://localhost:3000/songs?access_token=" + token + "&id=" + $(this).attr("id");
                else
                    window.location.href = "http://localhost:3000/songs?id=" + $(this).attr("id");
            });
        });

        var body = document.body,
            html = document.documentElement;
        var width = Math.max( body.offsetWidth, 
                              html.clientWidth, html.offsetWidth);

        var n = 33;
        var maxn = (parseInt($(".flex-row").attr("number")))*300 - width + 300;

        $(document).ready(function() {
            $(".left").click(function() {
                if(n < 33) {
                    n += 600;
                    $(".related-artists-row").animate({
                        left: n + "px",
                    });
                }
            });
            $(".right").click(function() {
                if(n > -maxn + 33) {
                    n -= 600;
                    $(".related-artists-row").animate({
                        left: n + "px",
                    });
                }
            });

            $(".left").mouseenter(function() {
                $(this).css("background-color", "rgba(128, 128, 128, 0.750)");
                $(this).children("p").css("font-size", "34px");
                $(this).children("p").css("padding-top", "60px");
                $(this).children("p").css("color", "rgba(80, 80, 80, 0.8)");
            });
            $(".right").mouseenter(function() {
                $(this).css("background-color", "rgba(128, 128, 128, 0.750)");
                $(this).children("p").css("font-size", "34px");
                $(this).children("p").css("padding-top", "60px");
                $(this).children("p").css("color", "rgba(80, 80, 80, 0.8)");
            });
            $(".left").mouseleave(function() {
                $(this).css("background-color", "rgba(128, 128, 128, 0.550)");
                $(this).children("p").css("font-size", "30px");
                $(this).children("p").css("padding-top", "62px");
                $(this).children("p").css("color", "rgba(116, 116, 116, 0.6)");
            });
            $(".right").mouseleave(function() {
                $(this).css("background-color", "rgba(128, 128, 128, 0.550)");
                $(this).children("p").css("font-size", "30px");
                $(this).children("p").css("padding-top", "62px");
                $(this).children("p").css("color", "rgba(116, 116, 116, 0.6)");
            });

            $(".related-artist").mouseenter(function() {
                $(this).children(".related-artist-img").css({
                    filter: "brightness(50%)",
                })
                $(this).children(".related-artist-text").show();
            });
            $(".related-artist").mouseleave(function() {
                $(this).children(".related-artist-img").css({
                    filter: "brightness(100%)",
                })
                $(this).children(".related-artist-text").hide();
            });

            $(".related-artist").click(function() {
                window.location.href = "http://localhost:3000/artists" + "?access_token=" + token + "&" + "id=" + $(this).attr("id") + "s";
            });
            
        });


    </script>

</body>
</html>


