<!-- SONG PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="style/song_style.css">
</head>
<body class="background-canvas">

    <%- include('partials/navbar'); -%>

    <div class="container-fluid">
        <div class="row justify-content-start">

            <div class= "container song-title col-8">
                <h1 class="display-2" style="color: rgba(255, 255, 255, 0.950)"> <%= info.title %> </h1>
                <h1 class="display-3" >
                     <a style = "color:rgba(255, 255, 255, 0.700)" href="http://localhost:3000/artists/<%= info.primary_artist.id %>"> 
                        <%= info.primary_artist.name %> 
                    </a>
                </h1>
            </div>
            
            <div class="col-2">
                <img src=<%= info.song_art_image_url %> class="song-image"> 
            </div>

            <div class="col-1"></div>
    
        </div>

    </div>

    <img src=<%= info.header_image_url %> class="header-image">
    <p class = "lead lyrics"> <%= lyrics %>  </p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script src="script/script.js"></script>

</body>
</html>


