<!-- SONG PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="style/song_artist_style.css">
</head>
<body class="background-canvas">

    <%- include('partials/navbar'); -%>

    <%- include('partials/songHeader'); -%>

    <div class="container mid-panel">
        <script>
            var songid="<%= spotifyId %>"
        </script>
        <div class="container-fluid row">

            <div id="add-to-library-button" class="col-3">
                <% if(addToLibrary) { %>
                    <% if(addToLibrary[0]) { %>
                        <button type="button" class="btn btn-secondary btn-lg" id="spotify-button" onclick="removetrack(songid,token)">Remove From Library</button>
                    <% } else { %>
                        <button type="button" class="btn btn-success btn-lg" id="spotify-button" onclick="addtrack(songid,token)">Add To Library</button>
                    <% } %>
                <% } %>
            </div>

            <div id="play-button" class="col-3">
                <button type="button" class="btn btn-success btn-lg" id="play-button" onclick="play(songid, token)"> Play </button>
            </div>
        </div>
        

        <div class="row">
            <div class = "container-fluid col-md-7">
                <% if (lyrics) { %>
                    <p class = "lead lyrics"> <% lyrics.forEach(line => { %>
                        <%= "" + line %> <br>
                    <% }) %> </p>
                <% } else { %>
                    <p class = "not-lyrics" id="lyrics-not-found"> Sorry, we can't find lyrics for this track :( <br>
                        <a href="javascript:showTextArea()"> Write them now! </a>
                    </p>

                    <form action="" method="post" style="display: none">
                        <div class="form-group row">
                            <textarea class="form-control" rows="20" placeholder="Write your lyrics here" name="lyrics"></textarea>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                <% } %>

                <div class ="producers">
                    <% if (info.producer_artists[0]) { %>
                        <p class="not-lyrics"> Produced by: 
                            <% info.producer_artists.forEach(artist => { %>
                                <%= artist.name %>  
                            <% }) %>
                        </p>
                    <% } %> 
                </div>

                <div class="writers">
                    <% if (info.writer_artists[0]) { %>
                        <p class="not-lyrics"> Written by: 
                            <% info.writer_artists.forEach(artist => { %>
                                <%= artist.name %>
                            <% }) %>
                        </p>
                    <% } %> 
                </div>
                
            </div>
            
            <div class="container-fluid col-md-5">
                <div id="player" video= <% info.media.forEach(media => { %>
                    <% if (media.provider == 'youtube') { %>
                        <%= media.url %>
                    <% } %>
                <% }) %> ></div>

                <p class = "description"> <% info.description.forEach(paragraph => { %>
                    <%= "" + paragraph %> <br>
                <% }) %> </p>

            </div>
        </div>
    </div>
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script src="script/script.js"></script>
    <script src="script/player.js"></script>
    <script src="script/removetrack.js"></script>
    <script src="script/addtrack.js"></script>
    <script src="script/play.js"></script>
    
    <script>
        var url = new URL(window.location.href);
        var token = url.searchParams.get("access_token");
    </script>

    <script> 

        var url = "http://localhost:3000/submit" + window.location.search;

        $(document).ready(function() {
            $("form").attr("action",url);
            $('textarea').val('');
        })

        function showTextArea() {
            $("form").show();
        }

    </script>

</body>
</html>


