<!-- SONG PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="style/song_artist_style.css">
</head>
<body>

    <%- include('partials/navbar'); -%>

    <img src=<%= info.header_image_url %> class="header-image">

    <div class="container-fluid" style="position: relative;">
        <div class="row justify-content-start" style="padding-top: 100px;">
    
            <div class= "container song-title col-8">
                <h1 class="display-2" style="color: rgba(255, 255, 255, 0.950)"> <%= info.title %> </h1>
                <h1 class="display-3" >
                    <% if (token) { %>
                        <a style = "color:rgba(255, 255, 255, 0.700)" href="http://localhost:3000/artists?id=<%= info.primary_artist.id %>&access_token=<%=token%>"> 
                            <%= info.primary_artist.name %> 
                        </a>
                    <% } else { %>
                        <a class="write-link" style = "color:rgba(255, 255, 255, 0.700)" href="http://localhost:3000/artists?id=<%= info.primary_artist.id%>" >
                            <%= info.primary_artist.name %> 
                        </a>
                    <% } %>
                </h1>
            </div>
            
            <div class="col-2">
                <img src=<%= info.song_art_image_url %> class="song-image"> 
            </div>
    
            <div class="col-1"></div>
    
        </div>
    
    </div>

    <div class="container mid-panel">
        <div class="container-fluid row" style="padding-bottom: 40px;">

            <div id="add-to-library-button" class="col-3">
                <% if(addToLibrary) { %>
                    <script>
                        var songid="<%= spotifyId %>"
                    </script>
                    <% if(addToLibrary[0]) { %>
                        <button type="button" class="btn btn-secondary btn-lg rounded-pill" onclick="removetrack(songid,token)">Remove From Library</button>
                    <% } else { %>
                        <button type="button" class="btn btn-success btn-lg rounded-pill" onclick="addtrack(songid,token)">Add To Library</button>
                    <% } %>
                <% } %>
            </div>
            <%if(isLogged) { %>
                <div id="play-button" class="col-3">
                    <button type="button" class="btn btn-success btn-lg rounded-pill" id="play-button" onclick="play(songid, token)"> Play </button>
                </div>
            <% } %> 
        </div>
        

        <div class="row">
            <div class = "container-fluid col-md-7">
                <% if (lyrics) { %>
                    <p class = "lead lyrics"> <% lyrics.forEach(line => { %>
                        <%= "" + line %> <br>
                    <% }) %> </p>
                <% } else { %>
                    <p class = "not-lyrics" id="lyrics-not-found"> Sorry, we can't find lyrics for this track :( <br>
                        <a href="javascript:showTextArea()"> Write them now! </a>
                    </p>

                    <form action="" method="post" style="display: none">
                        <div class="form-group row">
                            <textarea class="form-control" rows="20" placeholder="Write your lyrics here" name="lyrics"></textarea>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                <% } %>

                <div class ="producers">
                    <% if (info.producer_artists[0]) { %>
                        <p class="not-lyrics"> Produced by: 
                            <% info.producer_artists.forEach(artist => { %>
                                <%= artist.name %>  
                            <% }) %>
                        </p>
                    <% } %> 
                </div>

                <div class="writers">
                    <% if (info.writer_artists[0]) { %>
                        <p class="not-lyrics"> Written by: 
                            <% info.writer_artists.forEach(artist => { %>
                                <%= artist.name %>
                            <% }) %>
                        </p>
                    <% } %> 
                </div>
                
            </div>
            
            <div class="container-fluid col-md-5">
                <div id="player" video= <% info.media.forEach(media => { %>
                    <% if (media.provider == 'youtube') { %>
                        <%= media.url %>
                    <% } %>
                <% }) %> ></div>

                <p class = "description"> <% info.description.forEach(paragraph => { %>
                    <%= "" + paragraph %> <br>
                <% }) %> </p>

            </div>
        </div>
    </div>
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script src="script/script.js"></script>
    <script src="script/player.js"></script>
    <script src="script/removetrack.js"></script>
    <script src="script/addtrack.js"></script>
    <script src="script/play.js"></script>
    
    <script>
        var url = new URL(window.location.href);
        var token = url.searchParams.get("access_token");
    </script>

    <script> 

        var url = "http://localhost:3000/submit" + window.location.search;

        $(document).ready(function() {
            $("form").attr("action",url);
            $('textarea').val('');
        })

        function showTextArea() {
            $("form").show();
        }

    </script>

</body>
</html>


